@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Shadows+Into+Light&display=swap');

:root {
  scroll-behavior: smooth;
}

body {
  font-family: 'Shadows Into Light', cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 10px;
  box-sizing: border-box;
  min-height: 100vh;
  font-optical-sizing: auto;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Indie Flower', cursive;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-size: 4.8rem;
  text-align: center;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  max-width: 900px;
  height: 100vh;
  margin: 0 auto;
  display: grid;
  padding: 0 1.2rem;
}

.enter-task {
  width: 300px;
  margin-bottom: 2.2rem;
  margin: 0 auto;
}

.enter-task input {
  width: 100%;
  padding: 0.6rem 0.8rem;
  outline: 1px solid #888;
  border-radius: 10px;
}

.todo,
.complete {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

#note-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}

.note {
  background-color: yellow;
  border-radius: 2px;
  margin: 0 auto;
  width: 300px;
  height: 300px;
  box-shadow: inset;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  transition: all 0.2s ease-in;
  font-size: 2rem;
  padding: 2rem;
}

.note.completed {
  text-decoration: line-through;
  background-color: rgb(207, 207, 0);
}

/* .note:hover {
  transform: rotate(3deg);
  box-shadow: rgba(99, 99, 99, 0.2) 5px 4px 16px 0px;
  cursor: pointer;
} */

@media screen and (min-width: 768px) {
}
