@import 'https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css';

:root {
  scroll-behavior: smooth;
}

body {
  font-weight: 400;
  font-style: normal;
  font-size: 10px;
  box-sizing: border-box;
  min-height: 100vh;
  font-optical-sizing: auto;
  margin: 0;
  padding: 0;
}

textarea {
  border: none;
  outline: none;
  resize: none;
  rows: 1;
}

.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.checkbox {
  margin-left: 0.4rem;
}

.todo,
.completed {
  border-top: 3px solid blue;
}

@media screen and (min-width: 768px) {
}
